@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.color_row {
    color: #fff;
    background-color: #2c3e50;

}