---
---
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


$font-stack:    'Noto Sans KR', sans-serif;
$primary-color: #333;
$primary-background-color: #233140;
$secondary-background-color: #2c3e50;

html,
body {
    height: 100%;
    font-family: $font-stack;
}

body {
    padding-top: 50px;
}

img .eventlogo {
	width : 100px;
	height : 100px;
}

.page-title {
	color: #fff;
	background-color: $secondary-background-color;
}

footer {
	color: #fff;
	padding-top: 20px;

	.footer-above {
		padding: 10px 0;
		background-color: $secondary-background-color;
	}

	.footer-below {
		padding: 15px 0;
		background-color: $primary-background-color;
	}
}

