---
---
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


$font-stack:    'Noto Sans KR', sans-serif;
$primary-color: #333;

html,
body {
    height: 100%;
    font-family: $font-stack;
}

body {
    padding-top: 50px;
}

img .eventlogo {
	width : 100px;
	height : 100px;
}