---
---
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


$font-stack:    'Noto Sans KR', sans-serif;
$primary-color: #333;
$primary-background-color: #233140;
$secondary-background-color: #233140;

html,
body {
    height: 100%;
    font-family: $font-stack;
}

body {
    padding-top: 50px;
}

img .eventlogo {
	width : 100px;
	height : 100px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: $primary-background-color;
}