<div class="container"><div class="row">
    <div class="col-lg-12"><h2 class="page-header">찾아 오시는 길</h2></div>
    <div class="col-md-9">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6326.556094465907!2d126.92278680000001!3d37.54851244999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c98cfe9960c4d%3A0x34e967884d3e130e!2z7ISc7Jq47Yq567OE7IucIOuniO2PrOq1rCDsmYDsmrDsgrDroZwgNDU!5e0!3m2!1sko!2skr!4v1437678667020" width="100%" height="355" frameborder="0" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen></iframe>
    </div>
    <div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item">서울시 마포구 와우산로 45 영빈빌딩 7층 (CU편의점 건물)</li>
			<li class="list-group-item">지하철 6호선 상수역 1번 출구에서 걸어서 30초!</li>
		</ul>
    </div>
</div></div>