<div class="container"><div class="row">
    <div class="col-lg-12"><h2 class="page-header"><i class="fa fa-group"></i> 구성원</h2></div>

    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading"><h2 class="panel-title">회원 <span class="label label-success">추천</span></h2></div>
            <div class="panel-body">

            </div> <!-- panel-body -->

            <ul class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div> <!-- panel -->
    </div> <!-- col-md4 -->

    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading"><h2 class="panel-title">운영진</h2></div>
            <div class="panel-body">

            </div> <!-- panel-body -->

            <ul class="list-group">
                <li class="list-group-item"></li>
            </ul>
        </div> <!-- panel -->
    </div> <!-- col-md4 -->

    <div class="col-md-4">
        <div class="panel panel-default text-center">
            <div class="panel-heading"><h2 class="panel-title">집사</h2></div>
            <div class="panel-body">

            </div> <!-- panel-body -->

            <ul class="list-group">
                <li class="list-group-item">행정을 담당</li>
            </ul>
        </div> <!-- panel -->
    </div> <!-- col-md4 -->

</div></div> <!-- row --> <!-- container -->