
    <!-- jQuery -->
    <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <footer class="text-center">
    	<div class="footer-above">
    	<div class="container">

    	</div>

    	</div>

    	<div class="footer-below">
    	<div class="container">
    	
    	<div class="row"><div class="col-lg-12">
    		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><!--<img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>--><a xmlns:cc="http://creativecommons.org/ns#" href="http://www.spaceuu.kr" property="cc:attributionName" rel="cc:attributionURL">Space UU</a>의 저작물인 이 저작물은(는) <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
    	</div></div>

    	</div>
    	</div>


    </footer>