---
layout: default
title: 오픈이벤트
description: 모두가 함께 만들어가는 즐거운 커뮤니티 SPACE UU!!
banner: /img/yo.jpg
---

<div class="container"><div class="row">
    <br/><br/>
    {% for event in site.data.events %}
    <div class="col-md-4">
        <div class="thumbnail">
            <h3>{{ event.title }}</h3>
            <h4>{{ event.time }}</h4>
            {% if event.status == "active" %}
            <p><a class="btn btn-primary" href="{{ event.link }}" role="button">신청하기</a></p>
            {% else %}
            <p><span class="btn btn-default disabled">신청마감</span></p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div></div>